= simple_form_for current_user, url: user_registration_path,
  method: :delete do |field|

  .general-settings-btn
    %button.btn.mb-20 Please Remove My Account

  .form-group.checkbox.general-settings-checkbox
    %label.checkbox-label
      = check_box_tag :agree_cancel, 0, false, class: 'checkbox-input',
        hidden: 'hidden'
      %span.checkbox-icon
        %i.fa.fa-check
      %span.checkbox-text I understand that all data will be lost
