%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button",
  'aria-haspopup': "true", 'aria-expanded': "false", id: "choose_#{type}"}
  = title
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  = render "items_#{type}", items: items
