%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown",
  role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = title
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  = yield
  = render partial: "select_#{type}", locals: { select_objects: items }
