%li
  %label
    = t('books.index.sorted_by.all')
    = radio_button_tag :with_category, '', false, hidden: true

- items.decorate.each do |category|
  %li
    %label
      = category.title
      = radio_button_tag :with_category, category.title, category.current?(params[:with_category]), hidden: true
