%li
  %label
    = t('books.index.sorted_by.all')
    = radio_button_tag :with_category, '', false, hidden: true

- items.each do |category|
  %li
    %label
      = category.title
      = radio_button_tag :with_category, category.title, params[:with_category] == category.title.to_s, hidden: true
