.general-message-wrap.divider-lg
  .clearfix
    %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
    .ml-70
      %div
        .general-message-date.hidden-xs= review.created_at
        .max-240
          .general-message-verified= review.title
          .general-message-name= review.user_name

      .mb-15
        - review.grade.times do
          %i.fa.fa-star.rate-star
        - if review.desc
          %p= review.desc
