%a{type: "button", 'data-toggle': "collapse", href: "##{type}", 'aria-expanded': "false", 'aria-controls': "#{type}"}= t(title)
%ul.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false", id: "#{type}"}

  = yield
