%a{type: "button", 'data-toggle': "collapse", href: "##{list_id}", 'aria-expanded': "false", 'aria-controls': "#{list_id}"}= t(title)
%ul.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false", id: "#{list_id}"}
  = yield
